/* styles.css */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#038f0f
}

.navbar {
    position: fixed;
    display: flex;
    top: 0;

    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items:center;
    background-color: #03b311c0;
    opacity: 80%;
    color:white;
    padding: 0.5em 1em;
}

.logo {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;    /* Adjust as Needed */
    height: auto;   /* Maintains Aspect Ratio*/
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    margin:0.2em;
    
    
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    border: solid 2px rgb(26, 26, 26);
    border-radius: 1px;
    background-color: white;
   
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.profile {
   margin: 0;
   padding: 0;

}

.profile-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 100%;
    
    
}


.company {
   position: block;
   border: #333;
   width: 100%;
   margin-left: 10px;
   margin-top: 1200px;
   
   
   border-radius: 70px;
   background-color: #f3f3f3;
   z-index: 500;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}


.company-txt {
   text-align: center;
   font-size: 1.2em;
   color: black;
   border: solid rgb(0, 0, 0);
   border-radius: 20px;
   width: 50%;
  
   
   z-index: 501;
}
.map-container {
    max-width: 100%;
    overflow: hidden;
    color: red;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    margin-left: -50px;
    border: solid black;
    border-radius: 20px;
}

#embed-map-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.our-googlemap-code {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

#embed-map-canvas img {
    max-height: none;
    max-width: none !important;
    background: none !important;
}
.footer-txt {
    background-color: #333; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding */
    position: relative;
}




/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #333;
      width: 100%;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  
  

